body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%; /* % makes it responsive */
  margin:auto; /* puts even amount of margin/spacing on BOTH sides */
  overflow:hidden;
  position:absolute;
  padding:10px;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#ffffff;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#576f80;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{ /* CONNECTYOU text **/
  background:#f9fdff;
  color:#224268;
  padding-top:30px;
  min-height:50px;

}

header a{
  color:#224268;
  text-decoration:none;
  text-transform: none;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:;
  text-decoration: underline;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

h2{ /* Free Electibe/General Education title*/
color:#224268;
  text-decoration:none;
  text-transform: none;
  font-size:20px;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:#576f80 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* CHOOSE MAJOR SECTION */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#f9fdff
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#576f80;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
body{
    margin: 0;
    padding: 0;
    background: url(pic1.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 320px;
    height: 400px;
    background: #f0f0f0;
    color: #2e5266;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #9fb1bc;
    background: transparent;
    outline: none;
    height: 40px;
    color: #6e8898;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #2e5266;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #c0c0c0;
}

.loginbox a:hover
{
    color: #ffc107;
}

/* FREE ELECTIVE BUTTONS */
<style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
  display: inline-block;
  padding: 10px 25px;
  font-size: 14px;
  width: 130px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #224268;
  background-color: white;
  border: 1px solid #ffd972;
  border-radius: 2px
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.button1:hover {
    background-color: #ffd972;
    color: white;
}

.button2 {
  display: inline-block;
  padding: 10px 25px;
  font-size: 14px;
  width: 130px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #224268;
  background-color: white;
  border: 1px solid #ffd972;
  border-radius: 2px
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.button2:hover {
    background-color: #ffd972;
    color: white;
}

.button3 {
  display: inline-block;
  padding: 10px 25px;
  font-size: 14px;
  width: 130px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #224268;
  background-color: white;
  border: 1px solid #ffd972;
  border-radius: 2px
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.button3:hover {
    background-color: #ffd972;
    color: white;
}

</style>

/* CHOOSE MAJOR SECTION */
#GEheading{
  padding:15px;
  color:#ffffff;
  background:#f9fdff
}

#GEheading h1{
  float:left;
}

#GEheading form {
  float:right;
  margin-top:15px;
}

#GEheading input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}
